@tailwind base;
@tailwind components;
@tailwind utilities;




.flow {
  padding: 25px 0;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.flow::-webkit-scrollbar {
  display: none;
}

.flow h1 {
  font-size: 100px;
  font-family: domain;
  font-weight: 100;
  display: inline-block;
  /* background-color: red; */
  animation-timing-function: linear;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.flow h1 span {
  font-family: canopee;
  background-color: #1b1b1b;
  color: #cdcdcd;
  padding: 0 12px;
}
@keyframes scroll {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(calc(-100% - 34px));
  }
}

.flow:hover h1{
  animation-play-state: paused;
}

.image-div {
  
  transition: transform 0.5s ease;
  object-fit: cover;
  

}

.image-div:hover {
  transform: scale(1.05);
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}
.read:hover{
  background-color: #151515;
  color: aliceblue;
  transition: all ease 0.4s;
}
@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}